@page "/streaming"

<h1>Streaming</h1>

<p>This component demonstrates server forecast streaming.</p>

<p>Date: @_currentForecast?.Date.ToShortDateString()</p>
<p>Temp. (C): @_currentForecast?.TemperatureC</p>
<p>Temp. (F): @_currentForecast?.TemperatureF</p>
<p>Summary: @_currentForecast?.Summary</p>

<button class="btn btn-primary" @onclick="StartOrStopStreaming">@_buttonText</button>