<PageTitle>Unauthorized</PageTitle>

<p role="alert">Sorry, you're not authorized to reach this page.</p>
<AuthorizeView>
    <Authorized>
        <p role="alert">You may need to log in as a different user.</p>
    </Authorized>
    <NotAuthorized>
        <p role="alert">You may need to log in.</p>
    </NotAuthorized>
</AuthorizeView>