name: CI

on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  build:
    name: win-build-and-test
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dotnet sdk
      shell: pwsh
      run: .\Build\step-install-dotnet.ps1

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: Install ThirdPartyLibraries
      shell: cmd
      run: dotnet tool install --global ThirdPartyLibraries.GlobalTool

    - name: Install InvokeBuild
      shell: pwsh
      run: Install-Module -Name InvokeBuild -RequiredVersion 5.9.9.0 -Force

    - name: Build
      shell: pwsh
      run: Invoke-Build -File .\Build\ci-win-build-tasks.ps1

    - name: Artifact nuget packages
      uses: actions/upload-artifact@v2
      with:
        name: nuget-packages
        path: |
          .\build-out\*.nupkg
          .\build-out\*.snupkg
        if-no-files-found: error

  sdk-test-linux:
    name: linux-sdk-test
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: nuget-packages
        path: build-out

    - name: List artifacts
      run: ls -R
      working-directory: build-out

    - name: Install dotnet sdk
      shell: pwsh
      run: .\Build\step-install-dotnet.ps1

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: Install InvokeBuild
      shell: pwsh
      run: Install-Module -Name InvokeBuild -RequiredVersion 5.9.9.0 -Force

    - name: Test
      shell: pwsh
      run: Invoke-Build -File .\Build\ci-linux-sdk-tasks.ps1

  sdk-test-win:
    name: win-sdk-test
    runs-on: windows-latest
    needs: build

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: nuget-packages
        path: build-out

    - name: List artifacts
      run: ls -R
      working-directory: build-out

    - name: Install dotnet sdk
      shell: pwsh
      run: .\Build\step-install-dotnet.ps1

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: Install InvokeBuild
      shell: pwsh
      run: Install-Module -Name InvokeBuild -RequiredVersion 5.9.9.0 -Force

    - name: Test
      shell: pwsh
      run: Invoke-Build -File .\Build\ci-win-sdk-tasks.ps1

  benchmarks:
    name: linux-benchmarks
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install InvokeBuild
      shell: pwsh
      run: Install-Module -Name InvokeBuild -RequiredVersion 5.9.9.0 -Force

    - name: Install dotnet sdk
      shell: pwsh
      run: .\Build\step-install-dotnet.ps1

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: run benchmarks
      shell: pwsh
      run: Invoke-Build -File .\Build\step-benchmarks-ci.ps1

    - name: Artifact results
      uses: actions/upload-artifact@v2
      with:
        name: benchmark-results
        path: |
          ./BenchmarkDotNet.Artifacts
        if-no-files-found: error

