name: CI

on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  build:
    name: win-build-and-test
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      shell: pwsh
      run: ./Build/install-dependencies.ps1

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: Build
      shell: pwsh
      run: ./Build/invoke-ci-build.ps1

    - name: Artifact nuget packages
      uses: actions/upload-artifact@v2
      with:
        name: nuget-packages
        path: |
          .\build-out\*.nupkg
          .\build-out\*.snupkg
        if-no-files-found: error

  sdk-test-linux:
    name: linux-sdk-test
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: nuget-packages
        path: build-out

    - name: List artifacts
      run: ls -R
      working-directory: build-out

    - name: Install dependencies
      shell: pwsh
      run: ./Build/install-dependencies.ps1 ".net", "InvokeBuild"

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: Test
      shell: pwsh
      run: ./Build/invoke-sdk-test.ps1 -Platform "linux"

  sdk-test-win:
    name: win-sdk-test
    runs-on: windows-latest
    needs: build

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: nuget-packages
        path: build-out

    - name: List artifacts
      run: ls -R
      working-directory: build-out

    - name: Install dependencies
      shell: pwsh
      run: ./Build/install-dependencies.ps1 ".net", "InvokeBuild"

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: Test
      shell: pwsh
      run: ./Build/invoke-sdk-test.ps1 -Platform "win"

  benchmarks:
    name: linux-benchmarks
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      shell: pwsh
      run: ./Build/install-dependencies.ps1 ".net", "InvokeBuild"

    - name: Dotnet info
      shell: pwsh
      run: dotnet --info

    - name: run benchmarks
      shell: pwsh
      run: ./Build/invoke-benchmarks.ps1 -Configuration "Release"

    - name: Artifact results
      uses: actions/upload-artifact@v2
      with:
        name: benchmark-results
        path: |
          ./BenchmarkDotNet.Artifacts
        if-no-files-found: error

